[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pylint = "*"
watchgod = "*"
flake8 = "*"

[packages]
rasterio = "*"
pandas = "*"
numpy = "*"
fastapi = "*"
python-dotenv = "*"
httpx = "*"
pillow = "*"
affine = "*"
progress = "*"
geopandas = "*"
jinja2 = "*"
weasyprint = "*"
python-multipart = "*"
uvicorn = "*"
aiofiles = "*"
arq = "*"
sentry-sdk = "*"
pygeos = "*"
raster-tilecutter = {editable = true,path = "./../raster-tilecutter"}
pyogrio = {editable = true,path = "./../pyogrio"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
