[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pylint = "*"
geofeather = {editable = true,path = "./../geofeather"}
watchgod = "*"
flake8 = "*"

[packages]
rasterio = "*"
pandas = "*"
numpy = "*"
fastapi = "*"
sa-reports = {editable = true,path = "."}
python-dotenv = "*"
httpx = "*"
pillow = "*"
affine = "*"
progress = "*"
geopandas = "*"
jinja2 = "*"
weasyprint = "*"
python-multipart = "*"
uvicorn = "*"
aiofiles = "*"
arq = "*"

[requires]
python_version = "3.8"
