[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pylint = "*"

[packages]
rasterio = "*"
geopandas = "*"
pandas = "*"
numpy = "*"
pygeos = {editable = true,path = "./../pygeos"}
fastapi = "*"
sa-reports = {editable = true,path = "."}
raster-tilecutter = {editable = true,path = "./../raster-tilecutter"}
python-dotenv = "*"
httpx = "*"
pillow = "*"

[requires]
python_version = "3.8"
