;NoNewPrivileges=true

[Unit]
Description=South Atlantic Blueprint API server
Documentation=https://github.com/brendan-ward/sa-reports
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure
RestartSec=60

; User and group the process will run as.
User=ubuntu
Group=ubuntu

WorkingDirectory=/home/ubuntu/app/sa-reports
EnvironmentFile=/home/ubuntu/app/sa-reports/.env
# Note: listens on port 8000
ExecStart=/home/ubuntu/.local/bin/gunicorn -k uvicorn.workers.UvicornWorker --name uvicorn --bind=unix:/tmp/uvicorn.sock api:app
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target