;NoNewPrivileges=true

[Unit]
Description=South Atlantic Blueprint map renderer - XVFB
Documentation=https://github.com/consbio/mbgl-renderer
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure
RestartSec=60

; User and group the process will run as.
User=ubuntu
Group=ubuntu

ExecStart=/usr/bin/Xvfb :99 -screen 0 1024x768x24 -ac +extension GLX +render -noreset -nolisten tcp

[Install]
WantedBy=multi-user.target