@charset "UTF-8";

body {
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

@page {
    size: letter;
    margin: 1in 0.5in 0.5in;

    @top-left {
        content: "{{title}} {{subtitle}}";
        font-size: 10pt;
        color: #aaaaaa;
    }

    @bottom-left {
        content: "Created {{date}} using {{url}}";
        font-size: 10pt;
        color: #aaaaaa;
    }

    @bottom-right {
        font-size: 10pt;
        content: "Page " counter(page) " of " counter(pages);
        text-align: right;
    }
}

@page:first {
    @top-left {
        content: none;
    }
    @top-right {
        content: none;
    }
    @bottom-right {
        background: none;
        content: none;
    }
    @bottom-left {
        content: none;
    }
}

/* table of contents */
#TableOfContents {
    margin: 48pt 0 72pt;
}

#TableOfContents li {
    border-bottom: 1pt dotted #666;
    margin-top: 0.25em;
}

#TableOfContents a {
    text-decoration: none;
}

#TableOfContents .toctext::before {
    content: target-text(attr(href));
}

#TableOfContents .tocpagenr {
    float: right;
}

#TableOfContents .tocpagenr::after {
    content: target-counter(attr(href), page);
}

h1 {
    font-size: 28pt;
    line-height: 1.2;
    margin: 0 0 12pt 0;
}

h2 {
    margin: 0 0 12pt 0;
}

h4 {
    margin-bottom: 2pt;
}

p {
    margin-top: 0;
}

section {
    break-before: always;
}

ul li + li {
    margin-top: 6pt;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 6pt 0 24pt;
}

table thead th {
    background: #eeeeee;
    border: 1px solid #aaaaaa;
    padding: 2pt 8pt;
    line-height: 1.2;
}

table td {
    padding: 2pt 4pt;
    border: 1px solid #666;
}

table.centered th:last-child,
table.centered td:last-child,
table.centered th:nth-last-child(2),
table.centered td:nth-last-child(2) {
    text-align: center;
}

.no-break {
    page-break-inside: avoid;
    break-inside: avoid;
}

.caption {
    font-size: 10pt;
    font-weight: bold;
}

.box {
    padding: 10pt;
    margin-bottom: 12pt;
    border-radius: 10pt;
    background: #2e465b;
    color: #ffffff;
}

.box li + li {
    margin-top: 12pt;
}

.spacer {
    height: 36pt;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.map {
    width: 100%;
    margin-bottom: 12pt;
}

.map-placeholder {
    width: 100%;
    height: 64pt;
    background: #eeeeee;
    color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24pt;
}

.map-locator-container {
    flex: 0 0 auto;
    margin-right: 12pt;
}

.map-locator-placeholder {
    width: 100pt;
    height: 64pt;
    background: #eeeeee;
    color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}
.flex.justify-center {
    justify-content: center;
}
.flex.flex-column {
    flex-direction: column;
}

.legend {
    flex: 1 1 auto;
}

.legend-patch {
    height: 16pt;
    width: 20pt;
    display: inline-block;
    margin-right: 4pt;
}

.legend-element + .legend-element {
    margin-top: 6pt;
}

.ecosystem {
    break-before: always;
}

.ecosystem-header {
    margin-bottom: 12pt;
    padding: 6pt 12pt;
    background: #eef7fc;
    border-bottom: 1px solid #bae0f2;
    border-top: 1px solid #bae0f2;
}

.ecosystem-header h2 {
    margin-bottom: 0;
}

.ecosystem-header img {
    margin-right: 12pt;
}

.indicator + .indicator {
    margin-top: 36pt;
}

.indicator-header {
    font-style: italic;
    margin-bottom: 4pt;
}

img.logo {
    margin-right: 12pt;
    display: block;
    width: 100px;
}

.cover-footer {
    margin-top: 36pt;
    width: 100%;
}
